{%extends 'partyapp/base.html'%}
{%block body_content%}
<form method="GET">
    {%csrf_token%}
    <center>
        <table class="table table-bordered", style="background-color: rgb(188, 235, 243)"
        font-family="sans-serif">
            <thead>
            <tr>
                
                <th>Party</th>
                <th>Invitee</th>
            </tr>

            </thead>
            <tbody>
                {% for item in partylist%}
                <tr>
                    <td>{{item.Party}}</td>
                    <td>{{item.Invitees}}</td>
                </tr>
                {%endfor%}

            </tbody>
           
        </table>
    
    </center>

</form>

{%endblock%}