{%extends 'partyapp/base.html'%}
{%block body_content%}
<form method="GET">
    {%csrf_token%}
    <center>
        <table class="table table-bordered", style="background-color: rgb(188, 235, 243)"
        font-family="sans-serif">
            <thead>
            <tr>
                
                <th>Party</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Games</th>
                
            </tr>

            </thead>
            <tbody>
                {% for item in partylist%}
                <tr>
                   
                    <td>{{item.Partyname}}</td>
                    <td>{{item.Venue}}</td>
                    <td>{{item.Date}}</td>
                    <td><a href="{% url 'Partygamelistfrombridgetable' Partyname=item.Partyname %}">Party Info</a></td>
                    
                </tr>
                {%endfor%}

            </tbody>
           
        </table>
    
    </center>
    <center>
        <table>
            <thead>
                <tr>
                    <th>Game Name</th>
                </tr>
            </thead>
            <tbody>
        {%for game in partylist%}
                
                <tr>
                    <td>{{game.Game.Game}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </center>

</form>

{%endblock%}